<a href="https://colab.research.google.com/github/Jose-Balocchi/Panaderia-Numpy/blob/main/Copia_de_05_Proyecto_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar biblioteca Pandas

In [ ]:
import pandas as pd

predicciones = '/content/04 sales_predictions.csv'
df = pd.read_csv(predicciones)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# Ahora revisaremos los datos

In [ ]:
# numero de filas y columnas

df.shape

In [ ]:
# Informacion general

df.info()

Que podemos sacar de esto:

**Datos faltantes: columnas Item_Weight y Outlet_size**

In [ ]:
# Revisaremos si hay datos duplicados

df.duplicated()

In [ ]:
# Con lo anterior no sabemos si hay duplicados, asi que sumaremos los True y nos daremos cuenta de que no hay duplicados.

df.duplicated().sum()

In [ ]:
# Volvamos a los valores faltantes.

df.isna().sum()

In [ ]:
# Veamos un head de las columnas involucradas.

df['Item_Weight'].head()

In [ ]:
# Veamos los valores generales de esta columna

df['Item_Weight'].describe()

In [ ]:
# Veamos la moda y mediana

print('Moda')
df['Item_Weight'].mode()

In [ ]:
print('Mediana')
df['Item_Weight'].median()

In [ ]:
# El promedio esta bastante cerca de la moda y mediana, por lo que optare por esa opcion para rellenar los datos faltantes de esta columna

promedio = df['Item_Weight'].mean()

promedio

In [ ]:
# Ahora rellenamos

df['Item_Weight'].fillna(promedio, inplace = True)

In [ ]:
# Veamos si se rellenaron

df.isna().sum()

In [ ]:
# Vamos a ver la otra columna ahora

df['Outlet_Size'].head()

In [ ]:
# Es una variable categorica.

# Veamos cuantos de cada una de las categorias hay

df['Outlet_Size'].value_counts()

In [ ]:
# Dado que los valores faltantes son muchos, creare una categoria Otros y llenare con eso los datos

df['Outlet_Size'].fillna('Others', inplace = True)

In [ ]:
df['Outlet_Size'].value_counts()

In [ ]:
# Veamos si se rellenaron

df.isna().sum()

In [ ]:
# Veamos ahora si tenemos que corregir alguna otra variable

df.info()

In [ ]:
df['Item_Fat_Content'].value_counts()

In [ ]:
# Aca vemos que hay categorias duplicadas

df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')

In [ ]:
df['Item_Fat_Content'].value_counts()

In [ ]:
# Veamos otra variable categorica

df['Item_Type'].value_counts()

In [ ]:
df['Outlet_Identifier'].value_counts()

In [ ]:
df['Outlet_Location_Type'].value_counts()

In [ ]:
df['Outlet_Type'].value_counts()

In [ ]:
# Ahora mostremos datos resumen para cada columna

df.describe().round(2)

Vamos a explorar los datos a través de histogramas, boxplots, mapas de calor y correlación

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
# Vamos con histogramas

df['Item_Fat_Content'].hist()

In [ ]:
df['Item_Weight'].hist()

In [ ]:
df['Item_Outlet_Sales'].hist()

In [ ]:
# Ahora seria interesante comparar columnas. 

# Comparemos la columna tipo de outlet con las ventas 

# Lo primero es definir la serie de ventas

ventas = df['Item_Outlet_Sales']

In [ ]:
tipo_de_outlet = df['Outlet_Type']
tipo_de_outlet

In [ ]:
# vamos a ver si funciona un grafico que los relacione --- no funciona

plt.plot(tipo_de_outlet,ventas, 'b')

In [ ]:
grafico_outlet = df.groupby('Outlet_Type','Item_Fat_Content')['Item_Outlet_Sales'].sum()
grafico_outlet

In [ ]:
grafico_outlet.plot(kind = 'bar', color = 'green')
plt.xticks(rotation = 45)
plt.legend()